#navbarNav ul li {
    padding: 10px;
}

.navigation-bar {
    position: fixed; 
    z-index: 10; 
    width: 100%;
}

ul.navbar-nav a:hover {
    color: #FEA800 !important;
}

.home-img, .section-4-bg {
    width: 100%;
    position: relative;
}

.landing-header {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    display: flex;
    text-align: center;
}

.home-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 80%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    text-align: center;
    color: white;
    font-size: 18px;
}

.scroll {
    z-index: 5;
    position: absolute;
    top: 95%;
    margin-left: 50%;
    margin-top: 40px;
}

.segment2 {
    text-align: center;
    background-color: black;
}

.segment-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.segment-img:hover {
    background: blue;
    opacity: 10;
}

.segment3 {
    background-color: blue;
    width: 100%;
    height: 400px;
}

.segment3-text {
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}

/* .img1 {
    background-image: url("images/casestudy1.jpg")
}

.img2 {
    background-image: url("images/casestudy3.jpg")
}

.img2 {
    background-image: url("images/casestudy4.jpg")
} */

/* .section4 {
    position: absolute;
} */

/* .carousel-item {
    display: flex;
} */

.section-4-heading {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -200%);
    color: white;
    font-size: 100px;
    display: flex;
    text-align: center;
}

/* .section-4-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 80%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    text-align: center;
    color: white;
    font-size: 18px;
} */

.segment6-img {
    width: 100%;
}

.segment9 {
    position: relative;
    color: white;
}

.segment9-text {
    position: absolute;
    margin-top: -40%;
    text-align: center;
}

.segment9:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(29, 99, 146, 0.842);
}

.view-digital {
    margin-top: 5%;
}

.segment9-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

.segment9-para {
    padding-left: 20%; 
    padding-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* .segment7 {
    background-image: url("images/section-7-bg.jpg")
} */

.segment7-img {
    width: 100%;
    height: auto;
    /* background-image: url("images/section-7-bg.jpg"); */
    position: relative;
}

.segment7-options {
    position: absolute;
    margin-top: -65%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.segment7-heading {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
} 

h4 {
    color: white;
}

.segment8 {
    width: 100%;
    background-color:#383745;
    padding-top: 5%; 
    padding-bottom: 5%;
}

P { 
    color: white;
}

#one-heading {
    display: none;
}

/* .one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    background-color: blue;
} */

/* #one-heading:hover {
    display: block;
} */

.segment9-img {
    width: 100%;
    /* -webkit-filter: opacity(.2); */
    /* filter: opacity(.2); */
    /* background: yellow; */
}

.segment10-img {
    width: 100%;
    position: relative;
}

.segment10-text {
    position: absolute;
    margin-top: -45%;
    text-align: center;
}

.who-we {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;
    color: white;
    margin-bottom: 5%;
}

.segment11 {
    background-color: grey;
}

.boundary:hover {
    border-radius: 50%;
    border: 10px solid coral;
    margin: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.accrediations {
    width: 100%;
    height: 500px;
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 5%;
    color:#000080;
    font-family: 'Source Sans Pro', sans-serif;
}

.request-demo {
    background-color: #FEA800;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo2 {
    text-align: center;
    background-color: blue;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo3 {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo4 {
    text-align: center;
    background-color: #FEA800;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.demo-text {
    text-align: center;
    padding: 40px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: black;

}

h6 {
    font-size: 18px;
    color: white;
    text-align: center;
    vertical-align: middle;
    /* margin-top: 20%; */
    font-family: 'Montserrat', sans-serif;
    /* font-size: 23px; */
    padding-top: 100px;
    padding-bottom: 80px;
}

.section6 {
    position: relative;
}

.section6:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(238, 223, 10, 0.89);
}

.resource {
    text-align: center; 
    color: white; 
    margin-bottom: 10%;
}