#navbarNav ul li {
    padding: 10px;
}

.navigation-bar {
    position: fixed; 
    z-index: 10; 
    width: 100%;
}

ul.navbar-nav a:hover {
    color: #FEA800 !important;
}

.home-img, .section-4-bg {
    width: 100%;
    position: relative;
}

.landing-header {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    display: flex;
    text-align: center;
}

.home-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 80%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    text-align: center;
    color: white;
    font-size: 18px;
}

.scroll {
    position: absolute;
    top: 95%;
    margin-left: -50%;
    margin-top: 40px;
}

.segment2 {
    text-align: center;
    background-color: black;
}

.segment-img:hover {
    background-color: rgb(21, 4, 250);
    z-index: 1;
}

.segment3 {
    background-color: blue;
    width: 100%;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.segment3-text {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}

.img1 {
    height: 450px;
    background: url('images/casestudy1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img2 {
    height: 450px;
    background: url('images/casestudy3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img3 {
    height: 450px;
    background: url('images/casestudy4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-4-text {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    margin-top: -40%;
    margin-left: 30%;
    color: white;
    text-align: center;
}

.segment6-img {
    width: 100%;
}

.segment9 {
    position: relative;
    color: white;
}

.segment9-text {
    position: absolute;
    margin-top: -25%;
    text-align: center;
}

.segment9:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(29, 99, 146, 0.842);
}

.view-digital {
    margin-top: 2%;
}

.segment9-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

.segment9-para {
    padding-left: 20%; 
    padding-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* .segment7 {
    background-image: url("images/section-7-bg.jpg")
} */

.section6-heading1 {
    display: inline-block; 
    color: blue; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
}

.section6-heading2 {
    display: inline-block; 
    color:black; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
}

.section6-para1, .section6-para2 {
    color: black; 
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.segment7-img {
    width: 100%;
    height: auto;
    /* background-image: url("images/section-7-bg.jpg"); */
    position: relative;
}

.segment7-options {
    position: absolute;
    margin-top: -65%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.segment7-heading {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
} 

h4 {
    color: white;
}

.segment8 {
    width: 100%;
    background-color:#383745;
    padding-top: 5%; 
    padding-bottom: 5%;
}

P { 
    color: white;
}

#one-heading {
    display: none;
}

.segment9-img {
    height: 450px;
    background: url('images/section-6-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.segment10-img {
    height: 450px;
    background: url('images/section-10-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.segment10-text {
    position: absolute;
    margin-top: -35%;
    text-align: center;
}

.who-we {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;
    color: white;
    /* margin-bottom: 5%; */
}

.segment11 {
    background-color: grey;
}

.boundary {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 2%;
}

.people {
    text-align: center;
    padding-bottom: 5%; 
}

.boundary:hover {
    border-radius: 50%;
    border: 10px solid coral;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.accrediations {
    width: 100%;
    height: 500px;
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 5%;
    color:#000080;
    font-family: 'Source Sans Pro', sans-serif;
}

.request-demo {
    background-color: #FEA800;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo2 {
    text-align: center;
    background-color: blue;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo3 {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.request-demo4 {
    text-align: center;
    background-color: #FEA800;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.demo-text {
    text-align: center;
    padding: 40px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: black;

}

h6 {
    font-size: 18px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    padding-top: 12%;
    padding-bottom: 5%;
}

.section6-img {
    height: 450px;
    background: url('images/section-6-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.section6-text {
    position: absolute;
    margin-top: -25%;
    text-align: center;
    color: white;
    margin-left: 35%;
}

.section6 {
    position: relative;
}

.section6:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(238, 223, 10, 0.89);
}

.resource {
    text-align: center; 
    color: white; 
    margin-bottom: 10%;
}

.accredi-image {
    margin-top: 5%;
}



/* media query */

@media only screen and (max-width: 1088px) {
    .segment10-text, .segment9-text, .section6-text {
        position: absolute;
        margin-top: -40%;
        text-align: center;
    }

    .who-we {
        font-size: 80px;
    }

    .accrediations {
        height: 400px;
    }

    .segment9-heading {
        font-size: 40px;
    }

    .segment7-img {
        height: 1000px;
    }

    .segment7-options {
        margin-top: -90%;
    }
}

@media only screen and (max-width: 1015px) {
    .segment7-img {
        height: 1000px;
    }

    .segment7-options {
        margin-top: -100%;
    }

    .segment7-heading {
        font-size: 40px;
    }
}

@media only screen and (max-width: 940px) {
    .segment7-img {
        height: 1100px;
    }

    .segment7-options {
        margin-top: -115%;
    }

    .segment7-heading {
        font-size: 35px;
    }
}

@media only screen and (max-width: 850px) {
    .segment7-img {
        height: 1200px;
    }

    .segment7-options {
        margin-top: -140%;
    }

    .segment7-heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .segment7-img {
        height: 1300px;
    }

    .segment7-options {
        margin-top: -170%;
    }

    .segment7-heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 660px) {
    .segment7-img {
        height: 1400px;
    }

    .segment7-options {
        margin-top: -210%;
    }

    .segment7-heading {
        font-size: 25px;
    }
}

@media only screen and (max-width: 620px) {
    .segment7-img {
        height: 1500px;
    }

    .segment7-options {
        margin-top: -240%;
    }

    .segment7-heading {
        font-size: 25px;
    }
}

@media only screen and (max-width: 578px) {
    .segment7-img {
        height: 1700px;
    }

    .segment7-options {
        margin-top: -290%;
    }

    .segment7-heading {
        font-size: 25px;
    }
}

@media only screen and (max-width: 570px) {
    .segment7-img {
        height: 1800px;
    }

    .segment7-options {
        margin-top: -315%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 530px) {
    .segment7-img {
        height: 1900px;
    }

    .segment7-options {
        margin-top: -360%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 490px) {
    .segment7-img {
        height: 2000px;
    }

    .segment7-options {
        margin-top: -415%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 445px) {
    .segment7-img {
        height: 2100px;
    }

    .segment7-options {
        margin-top: -480%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 410px) {
    .segment7-img {
        height: 2200px;
    }

    .segment7-options {
        margin-top: -550%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 378px) {
    .segment7-img {
        height: 2400px;
    }

    .segment7-options {
        margin-top: -655%;
    }

    .segment7-heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .segment10-text, .segment9-text {
        position: absolute;
        margin-top: -50%;
        text-align: center;
    }

    .who-we, .section6-heading1, .section6-heading2 {
        font-size: 70px;
    }

    .accrediations {
        height: 300px;
    }

    .accredi-image {
        margin-top: 0;
    }

    .segment9-heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .segment10-text, .segment9-text {
        position: absolute;
        margin-top: -65%;
        text-align: center;
    }

    .section-4-text {
        margin-top: -65%;
        margin-left: 10%;
    }

    .section6-text {
        margin-top: -65%;
        margin-left: 15%; 
    }

    .who-we, .section6-heading1, .section6-heading2 {
        font-size: 50px;
    }

    .accrediations {
        height: 250px;
    }

    .segment9-para {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .segment9-text {
        margin-top: -75%;
    }
}    

@media only screen and (max-width: 450px) {
    .segment10-text, .segment9-text, .section6-text {
        position: absolute;
        margin-top: -85%;
        text-align: center;
    }

    .who-we, .section6-heading1, .section6-heading2 {
        font-size: 35px;
    }
    
    .accrediations {
        height: 200px;
    }
}